@{
    ViewBag.Title = "Gallery";
}
<!DOCTYPE HTML>
<html>
<body>
    <section id="gal_main">
        <div class="container">

            <div class="gallery">
                <a target="_blank" href="~/Images/img1.jpg">
                    <img src="~/Images/img1.jpg" alt="Some Icey place" width="600" height="400">
                </a>
                <div class="desc">
                    Icy <br>
                    <a href="~/Images/img1.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img2.jpg">
                    <img src="~/Images/img2.jpg" alt="Some Rocky Place" width="600" height="400">
                </a>
                <div class="desc">
                    Rocky!<br>
                    <a href="~/Images/img2.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Images/img3.jpg">
                    <img src="~/Images/img3.jpg" alt="Big House" width="600" height="400">
                </a>
                <div class="desc">
                    Big House<br>
                    <a href="~/Images/img3.jpg" download>download</a>
                </div>
            </div>

        </div>
    </section>

</body>
</html>