@{
    ViewBag.Title = "Home";
}
<!DOCTYPE HTML>
<html>
<body>

    <section id="presentation">
        <div class="container">
            <h1>PhotosXD</h1>
            <p>It's only with us that you can find photography of such high quality.</p>
            <p class="smalltext">...or maybe not.</p>
        </div>
    </section>

</body>
</html>